.HexagonLabel {
  display: flex;
  justify-content: space-between;
  max-width: 360px;

  .HexagonLabel__hexagon-shadower--right {
    width: 140px;
    height: 120px;
    margin: 0;
    overflow: hidden;
    transform: rotate(120deg);
  }
  .HexagonLabel__hexagon-shadower--left {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
  }
  .HexagonLabel__hexagon {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    visibility: visible;
    transform: rotate(-60deg);
  }
  .HexagonLabel__header-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;

    h3 {
      margin: 0;
    }
    h4 {
      margin: 0;
    }
  }
}