.LeagueTableRow {
  font-size: 1.25rem;
  line-height: 2.6;
  cursor: pointer;

  .LeagueTableRow__th {
  }
  .LeagueTableRow__td {
    text-align: center;
  }
  .LeagueTableRow__td--align-left {
    text-align: left;
  }
}