@import 'utils';

.LeagueList {
  &__item {
    @include flex();
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    &-logo {
      opacity: 0.5;
      transform: scale(1);
      transition: opacity 0.3s ease-out,
                  transform 0.3s ease-out;
    }
    &-title {
      font-size: 2rem;
      font-weight: 700;
      color: #495057;
      text-transform: uppercase;
      transition: color 0.3s ease-out;
    }
    & + & {
      margin-top: 1em;
    }
    &:hover {
      .LeagueList__item-logo {
        opacity: 0.6;
        transform: scale(1.1);
      }
      .LeagueList__item-logo--pl {
        content: url('../../../../assets/images/PL-badge.png');
      }
      .LeagueList__item-logo--ll {
        content: url('../../../../assets/images/LL-badge.png');
      }
      .LeagueList__item-logo--bl {
        content: url('../../../../assets/images/BL-badge.png');
      }
      .LeagueList__item-title {
        color: #868E96;
      }
    }
  }
}