.PageTemplate {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url('../../../../assets/images/background.png');
  background-position: center;
  background-size: cover;
  header {
    position: fixed;
    left: 16px;
    top: 16px;
  }
  main {
    height: 100%;
  }
}