.TwoColumnTemplate {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: auto;

  .TwoColumnTemplate__left {
    //position: relative;
    flex: 1;
  }

  .TwoColumnTemplate__right {
    //position: relative;
    flex: 1;
  }
}